@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Vazirmatn:wght@300;400;500;700&family=Noto+Sans+Arabic:wght@300;400;500;700&display=swap";
@import "tailwindcss";

:root {
  --font-sans: 'Roboto', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

html[lang="fa"] {
  --font-sans: 'Vazirmatn', 'Noto Sans Arabic', system-ui, Arial;
}

html[lang="ps"] {
  --font-sans: 'Noto Sans Arabic', 'Vazirmatn', system-ui, Arial;
}

html, body, #root {
  font-family: var(--font-sans);
}

